body {
	background: #000d1a;
}

a{
	color: black;
}

.card {
	border: 10px solid rgba(255, 255, 255, 0.8);
	background: #000d1a;
	border-radius: 7px;
    width: 50vw;
    height: 60vh;
    margin-top: 15vh;
    margin-left: 30vw;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 7vmin;
}

h1 {
	font-size: 12vmin;
}
button {
	background: #000d1a;
}


/* Cube */

.perspective {
	font-size: 5vh;
    top: 55vh;
    left: 20vw;
    position: absolute;
	-webkit-transform: rotateX(45deg) rotateZ(45deg);
    -webkit-transform-style: preserve-3d;
}
.cube {
    box-shadow: inset 0 0 0 .25em rgba(0,0,0,.2);
    content: '';
    height: 3em;
    position: absolute;
    width: 3em;
}
.cube:after {
    content: '';
    height: 3em;
    position: absolute;
    width: 3em;
    border: .25em solid rgba(0,0,0,.2);
    border-top: .25em solid #008000;
}
.cube:before {
    content: '';
    height: 3em;
    position: absolute;
    width: 3em;
    border: .25em solid rgba(0,0,0,.2);
    border-left: .25em solid #004d00;
}
/* Top */
.cube {
    background-color: #00cc00;
    position: relative;
    -webkit-transform: translateZ(3em);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .25s;
}
/* Left */
.cube:after {
    background-color: #804000;
    -webkit-transform: rotateX(-90deg) translateY(3em);
    -webkit-transform-origin: 100% 100%;
}
/* Right */
.cube:before {
    background-color: #4d2600;
    -webkit-transform: rotateY(90deg) translateX(3em);
    -webkit-transform-origin: 100% 0;
}


/*Sunny*/
.sunny { 
	animation: sunny 15s linear infinite;
	background: linear-gradient(0deg, rgba(255,255,0,0) 0%, rgba(255,255,0,0.3) 50%, rgba(255,255,0,0) 100%); 
	height: 21vh;
	width: 3vh; 
    top: 31vh;
    left: 23vw;
	position: absolute;
	animation-name: sunnyrays, sunnyrotate;
	animation-duration: 8s, 20s;
	animation-iteration-count: infinite;
	z-index: 1;
}
.sunny:before {
	background: linear-gradient(0deg, rgba(255,255,0,0) 0%, rgba(255,255,0,0.3) 50%, rgba(255,255,0,0) 100%);
	content: '';
	height: 21vh; 
	width: 3vh;
	opacity: 1; 
	position: absolute;
	transform: rotate(90deg);
	animation: sunnyrays 8s infinite;
}
.sunny:after {
	background: #FFEE44; 
	border-radius: 50%; 
	content: ''; 
	height: 12vh;
	width: 12vh;  
	position: absolute; 
	left: -4.5vh; 
	top: 4.5vh;
	animation: sunnyring 8s ease-in-out infinite;
}
@keyframes sunnyrotate { 
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes sunnyring {

	0% {box-shadow: rgba(255,255,0,0.5) 0 0 6px 10px; }
	50% {box-shadow: rgba(255, 255, 0, 0.5) 0 0 6px 5px; }
	100% {box-shadow: rgba(255,255,0,0.5) 0 0 6px 10px; }
}

@keyframes sunnyrays {
	0% {opacity: 0.97;}
	50% {opacity: 0.93;}
	0% {opacity: 0.97;}
}

/*Cloudy*/

.cloudy {
	animation: cloudy 5s ease-in-out infinite;
	background: #ddd;
	border-radius: 50%;
	box-shadow: 
		9.75vh -2.25vh 0 -0.75vh #ddd, 
		5.25vh -3.75vh #ddd, 
		4.5vh 1.5vh #ddd, 
		9vh 2.25vh 0 -1.5vh #ddd, 
		12.75vh 0.75vh 0 -0.75vh #ddd;
	height: 7.5vh;
	width: 7.5vh; 
	position: absolute;
	top: 36.5vh;
	left: 19vw;
	z-index: 1;
}
.cloudy:after {
	animation: cloudy_shadow 5s ease-in-out infinite;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 2.25vh;
	width: 18vh;
	opacity: 0.2;
	position: absolute;
	left: 0.75vh; 
	bottom: -9vh;
  transform: scale(.7);
}
@keyframes cloudy {
	50% {
		transform: translateY(-3vh);}
}
@keyframes cloudy_shadow {
	50% { transform: translateY(3vh) scale(1); opacity:.05; }
}


/* RAINY */
.rainy {
	animation: rainy 5s ease-in-out infinite 1s;
	background: #CCCCCC; 
	border-radius: 50%;
	box-shadow: 
		9.75vh -2.25vh 0 -0.75vh #CCC, 
		5.25vh -3.75vh #CCC, 
		4.5vh 1.5vh #CCC, 
		9vh 2.25vh 0 -1.5vh #CCC, 
		12.75vh 0.75vh 0 -0.75vh #CCC;
	height: 7.5vh;
	width: 7.5vh; 
	position: absolute;
	top: 36.5vh;
	left: 19vw;
	z-index: 1;
}
.rainy:after {
	animation: rainy_shadow 5s ease-in-out infinite 1s;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 2.25vh;
	width: 18vh;
	opacity: 0.2;
	position: absolute;
	left: 0.75vh; 
	bottom: -9vh;
  transform: scale(.7);
}

.rainy:before {
	animation: rainy_rain .7s infinite linear;
	content: '';
	background: #CCCCCC;
	border-radius: 50%;
	display: block;
	height: 0.9vh;
	width: 0.45vh;
	opacity: 0.3;
	transform: scale(.9);
}
@keyframes rainy {
	50% { 
		transform: translateY(-3vh);}
}
@keyframes rainy_shadow {
	50% { transform: translateY(3vh) scale(1); opacity:.05; }
}
@keyframes rainy_rain {
	0% {  
		box-shadow: 
			rgba(0,0,0,0) 4.5vh 4.5vh, 
			rgba(0,0,0,0) 6vh 6vh,  
			#000 7.5vh 11.25vh, 
			#000 8.25vh 7.5vh, 
			#000 10.5vh 15vh, 
			#000 12vh 14.25vh, 
			#000 16.5vh 6.75vh, 
			#000 13.5vh 5.25vh; 
	}
	25% {  
	  	box-shadow: 
			#000 4.5vh 6.75vh,
			#000 6vh 9vh,
			#000 7.5vh 13.5vh,
			#000 8.25vh 9.75vh,
			rgba(0,0,0,0) 10.5vh 18vh,
			rgba(0,0,0,0) 12vh 18vh,
			#000 16.5vh 10.5vh,
			#000 13.5vh 9vh;
	}
	26% {  
		box-shadow:
			#000 4.5vh 6.75vh,
			#000 6vh 9vh,
			#000 7.5vh 13.5vh,
			#000 8.25vh 9.75vh,
			rgba(0,0,0,0) 10.5vh 6vh,
			rgba(0,0,0,0) 12vh 3vh,
			#000 16.5vh 10.5vh,
			#000 13.5vh 9vh; 
	}
	50% { 
		box-shadow:
			#000 4.5vh 10.5vh,
			#000 6vh 12vh,
			rgba(0,0,0,0) 7.5vh 15vh,
			#000 8.25vh 12vh,
			#000 10.5vh 9vh,
			#000 12vh 6.75vh,
			#000 16.5vh 14.25vh,
			#000 13.5vh 12.75vh;
	}
	51% {
		box-shadow:
			#000 4.5vh 10.5vh,
			#000 6vh 12vh,
			rgba(0,0,0,0) 7.5vh 6.75vh,
			#000 8.25vh 12vh,
			#000 10.5vh 9vh,
			#000 12vh 6.75vh,
			#000 16.5vh 14.25vh,
			#000 13.5vh 12.75vh;
	}
	75% {
		box-shadow:
			#000 4.5vh 14.25vh,
			#000 6vh 15vh,
			#000 7.5vh 9vh,
			rgba(0,0,0,0) 8.25vh 14.25vh,
			#000 10.5vh 12vh,
			#000 12vh 10.5vh,
			rgba(0,0,0,0) 16.5vh 18vh,
			rgba(0,0,0,0) 13.5vh 16.5vh;
	}
	76% {
		box-shadow:
			#000 4.5vh 14.25vh,
			#000 6vh 15vh,
			#000 7.5vh 9vh,
			rgba(0,0,0,0) 8.25vh 5.25vh,
			#000 10.5vh 12vh,
			#000 12vh 10.5vh,
			rgba(0,0,0,0) 16.5vh 3.75vh,
			rgba(0,0,0,0) 13.5vh 2.25vh;
	}
	100% {
		box-shadow:
			rgba(0,0,0,0) 4.5vh 18vh,
			rgba(0,0,0,0) 6vh 18vh,
			#000 7.5vh 11.25vh,
			#000 8.25vh 7.5vh,
			#000 10.5vh 15vh,
			#000 12vh 14.25vh,
			#000 16.5vh 6.75vh,
			#000 13.5vh 5.25vh;
	}
}


/* STARRY */
.starry {
  	animation: starry_star 5s ease-in-out infinite;
	background: #fff;
	border-radius: 50%;  
	box-shadow:  
      	#FFFFFF 3.9vh 1.05vh 0 -0.15vh, 
      	rgba(255,255,255,0.1) -5.4vh -2.85vh 0 -0.15vh, 
      	rgba(255,255,255,0.1) -7.65vh -5.1vh 0 -0.15vh,
      	#FFFFFF -7.8vh -9.3vh 0 -0.15vh, 
      	#FFFFFF 2.1vh -5.55vh, 
      	rgba(255,255,255,0.1) 6.15vh -2.85vh,  
      	#FFFFFF 5.1vh -7.5vh,
      	rgba(255,255,255,0.1) 2.1vh -10.65vh 0 -0.15vh,
      	#FFFFFF 9.6vh -3.15vh 0 -0.15vh, 
      	rgba(255,255,255,0.1) 4.8vh -12.75vh 0 -0.15vh,
      	#FFFFFF 9.6vh -13.5vh,
      	rgba(255,255,255,0.1) 9vh -10.05vh 0 -0.15vh,  
      	#FFFFFF 5.1vh -19.05vh,
      	rgba(255,255,255,0.1) -3.9vh -15.45vh 0 -0.15vh;
	height: 0.6vh;
	width: 0.6vh; 
	position: absolute;
	top: 44vh;
	left: 23vw;
	z-index: -1;
}
.starry:after { 
	animation: starry 5s ease-in-out infinite;
	border-radius: 50%;
	box-shadow: #FFFFFF -3.75vh 0;
	content: '';
	height: 15vh;
	width: 15vh;
	position: absolute;
	top: -15.9vh; 
	transform: rotate(-5deg);
	transform-origin: 0 50%;
}

@keyframes starry {
	50% { transform: rotate(10deg); }
}
@keyframes starry_star {
  50% { 
	box-shadow:  
		rgba(255,255,255,0.1) 3.9vh 1.05vh 0 -0.15vh, 
      	#FFFFFF -5.4vh -2.85vh 0 -0.15vh, 
      	#FFFFFF -7.65vh -5.1vh 0 -0.15vh,
      	rgba(255,255,255,0.1) -7.8vh -9.3vh 0 -0.15vh, 
      	rgba(255,255,255,0.1) 2.1vh -5.55vh,
      	#FFFFFF 6.15vh -2.85vh,   
      	rgba(255,255,255,0.1) 5.1vh -7.5vh,
      	#FFFFFF 2.1vh -10.65vh 0 -0.15vh,
      	rgba(255,255,255,0.1) 9.6vh -3.15vh 0 -0.15vh, 
      	#FFFFFF 4.8vh -315vh 0 -0.15vh,
      	rgba(255,255,255,0.1) 9.6vh -13.5vh,
      	#FFFFFF 9vh -10.05vh 0 -0.15vh,  
      	rgba(255,255,255,0.1) 5.1vh -19.05vh,
      	#FFFFFF -3.9vh -15.45vh 0 -0.15vh;
	}
}

/* STORMY */
.stormy {
	animation: stormy 5s ease-in-out infinite 1s;
	background: #222222; 
	border-radius: 50%;
	box-shadow: 
		9.75vh -2.25vh 0 -0.75vh #222, 
		5.25vh -3.75vh #222, 
		4.5vh 1.5vh #222, 
		9vh 2.25vh 0 -1.5vh #222, 
		12.75vh 0.75vh 0 -0.75vh #222;
	height: 7.5vh;
	width: 7.5vh; 
	position: absolute;
	top: 36.5vh;
	left: 19vw;
	z-index: 1;
}
.stormy:after {
	animation: stormy_shadow 5s ease-in-out infinite 1s;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 2.25vh;
	width: 18vh;
	opacity: 0.2;
	position: absolute;
	left: 0.75vh; 
	bottom: -9vh;
  transform: scale(.7);
}

.stormy:before {
	animation: stormy_rain .7s infinite linear;
	content: '';
	background: #222222;
	border-radius: 50%;
	display: block;
	height: 0.9vh;
	width: 0.45vh;
	opacity: 0.3;
	transform: scale(.9);
}
@keyframes stormy {
	50% { 
		transform: translateY(-3vh);}
}
@keyframes stormy_shadow {
	50% { transform: translateY(3vh) scale(1); opacity:.05; }
}
@keyframes stormy_rain {
	0% {  
		box-shadow: 
			rgba(0,0,0,0) 4.5vh 4.5vh, 
			rgba(0,0,0,0) 6vh 6vh,  
			#000 7.5vh 11.25vh, 
			#000 8.25vh 7.5vh, 
			#000 10.5vh 15vh, 
			#000 12vh 14.25vh, 
			#000 16.5vh 6.75vh, 
			#000 13.5vh 5.25vh; 
	}
	25% {  
	  	box-shadow: 
			#000 4.5vh 6.75vh,
			#000 6vh 9vh,
			#000 7.5vh 13.5vh,
			#000 8.25vh 9.75vh,
			rgba(0,0,0,0) 10.5vh 18vh,
			rgba(0,0,0,0) 12vh 18vh,
			#000 16.5vh 10.5vh,
			#000 13.5vh 9vh;
	}
	26% {  
		box-shadow:
			#000 4.5vh 6.75vh,
			#000 6vh 9vh,
			#000 7.5vh 13.5vh,
			#000 8.25vh 9.75vh,
			rgba(0,0,0,0) 10.5vh 6vh,
			rgba(0,0,0,0) 12vh 3vh,
			#000 16.5vh 10.5vh,
			#000 13.5vh 9vh; 
	}
	50% { 
		box-shadow:
			#000 4.5vh 10.5vh,
			#000 6vh 12vh,
			rgba(0,0,0,0) 7.5vh 15vh,
			#000 8.25vh 12vh,
			#000 10.5vh 9vh,
			#000 12vh 6.75vh,
			#000 16.5vh 14.25vh,
			#000 13.5vh 12.75vh;
	}
	51% {
		box-shadow:
			#000 4.5vh 10.5vh,
			#000 6vh 12vh,
			rgba(0,0,0,0) 7.5vh 6.75vh,
			#000 8.25vh 12vh,
			#000 10.5vh 9vh,
			#000 12vh 6.75vh,
			#000 16.5vh 14.25vh,
			#000 13.5vh 12.75vh;
	}
	75% {
		box-shadow:
			#000 4.5vh 14.25vh,
			#000 6vh 15vh,
			#000 7.5vh 9vh,
			rgba(0,0,0,0) 8.25vh 14.25vh,
			#000 10.5vh 12vh,
			#000 12vh 10.5vh,
			rgba(0,0,0,0) 16.5vh 18vh,
			rgba(0,0,0,0) 13.5vh 16.5vh;
	}
	76% {
		box-shadow:
			#000 4.5vh 14.25vh,
			#000 6vh 15vh,
			#000 7.5vh 9vh,
			rgba(0,0,0,0) 8.25vh 5.25vh,
			#000 10.5vh 12vh,
			#000 12vh 10.5vh,
			rgba(0,0,0,0) 16.5vh 3.75vh,
			rgba(0,0,0,0) 13.5vh 2.25vh;
	}
	100% {
		box-shadow:
			rgba(0,0,0,0) 4.5vh 18vh,
			rgba(0,0,0,0) 6vh 18vh,
			#000 7.5vh 11.25vh,
			#000 8.25vh 7.5vh,
			#000 10.5vh 15vh,
			#000 12vh 14.25vh,
			#000 16.5vh 6.75vh,
			#000 13.5vh 5.25vh;
	}
}

/* SNOWY */
.snowy {
	animation: snowy 5s ease-in-out infinite 1s;
	background: #FFFFFF; 
	border-radius: 50%;
	box-shadow: 
		9.75vh -2.25vh 0 -0.75vh #fff, 
		5.25vh -3.75vh #fff, 
		4.5vh 1.5vh #fff, 
		9vh 2.25vh 0 -1.5vh #fff, 
		12.75vh 0.75vh 0 -0.75vh #fff;
	height: 7.5vh;
	width: 7.5vh; 
	position: absolute;
	top: 36.5vh;
	left: 19vw;
	z-index: 1;
}
.snowy:after {
	animation: snowy_shadow 5s ease-in-out infinite 1s;
	background: #000000;
	border-radius: 50%;
	content: '';
	height: 2.25vh;
	width: 18vh;
	opacity: 0.2;
	position: absolute;
	left: 0.75vh; 
	bottom: -9vh;
  transform: scale(.7);
}
.snowy:before {
	animation: snowy_snow 2s infinite linear;
	content: '';
	border-radius: 50%;
	display: block;
	height: 1.05vh;
	width: 1.05vh;
	opacity: 0.8;
	transform: scale(.9);
}
@keyframes snowy {
	50% { 		
		transform: translateY(-3vh);}

}
@keyframes snowy_shadow {
	50% { transform: translateY(3vh) scale(1); opacity:.05; }
}
@keyframes snowy_snow {
	0% {  
		box-shadow: 
			rgba(238,238,238,0) 4.5vh 4.5vh, 
			rgba(238,238,238,0) 6vh 6vh,  
			#EEEEEE 7.5vh 11.25vh, 
			#EEEEEE 8.25vh 7.5vh, 
			#EEEEEE 10.5vh 15vh, 
			#EEEEEE 12vh 14.25vh, 
			#EEEEEE 16.5vh 6.75vh, 
			#EEEEEE 13.5vh 5.25vh; 
	}
	25% {  
	  	box-shadow: 
			#EEEEEE 4.5vh 6.75vh,
			#EEEEEE 6vh 9vh,
			#EEEEEE 7.5vh 13.5vh,
			#EEEEEE 8.25vh 9.75vh,
			rgba(238,238,238,0) 10.5vh 18vh,
			rgba(238,238,238,0) 12vh 18vh,
			#EEEEEE 16.5vh 10.5vh,
			#EEEEEE 13.5vh 9vh;
	}
	26% {  
		box-shadow:
			#EEEEEE 4.5vh 6.75vh,
			#EEEEEE 6vh 9vh,
			#EEEEEE 7.5vh 13.5vh,
			#EEEEEE 8.25vh 9.75vh,
			rgba(238,238,238,0) 10.5vh 6vh,
			rgba(238,238,238,0) 12vh 3vh,
			#EEEEEE 16.5vh 10.5vh,
			#EEEEEE 13.5vh 9vh; 
	}
	50% { 
		box-shadow:
			#EEEEEE 4.5vh 10.5vh,
			#EEEEEE 6vh 12vh,
			rgba(238,238,238,0) 7.5vh 15vh,
			#EEEEEE 8.25vh 12vh,
			#EEEEEE 10.5vh 9vh,
			#EEEEEE 12vh 6.75vh,
			#EEEEEE 16.5vh 14.25vh,
			#EEEEEE 13.5vh 12.75vh;
	}
	51% {
		box-shadow:
			#EEEEEE 4.5vh 10.5vh,
			#EEEEEE 6vh 12vh,
			rgba(238,238,238,0) 7.5vh 6.75vh,
			#EEEEEE 8.25vh 12vh,
			#EEEEEE 10.5vh 9vh,
			#EEEEEE 12vh 6.75vh,
			#EEEEEE 16.5vh 14.25vh,
			#EEEEEE 13.5vh 12.75vh;
	}
	75% {
		box-shadow:
			#EEEEEE 4.5vh 14.25vh,
			#EEEEEE 6vh 15vh,
			#EEEEEE 7.5vh 9vh,
			rgba(238,238,238,0) 8.25vh 14.25vh,
			#EEEEEE 10.5vh 12vh,
			#EEEEEE 12vh 10.5vh,
			rgba(238,238,238,0) 16.5vh 18vh,
			rgba(238,238,238,0) 13.5vh 16.5vh;
	}
	76% {
		box-shadow:
			#EEEEEE 4.5vh 14.25vh,
			#EEEEEE 6vh 15vh,
			#EEEEEE 7.5vh 9vh,
			rgba(238,238,238,0) 8.25vh 5.25vh,
			#EEEEEE 10.5vh 12vh,
			#EEEEEE 12vh 10.5vh,
			rgba(238,238,238,0) 16.5vh 3.75vh,
			rgba(238,238,238,0) 13.5vh 2.25vh;
	}
	100% {
		box-shadow:
			rgba(238,238,238,0) 4.5vh 18vh,
			rgba(238,238,238,0) 6vh 18vh,
			#EEEEEE 7.5vh 11.25vh,
			#EEEEEE 8.25vh 7.5vh,
			#EEEEEE 10.5vh 15vh,
			#EEEEEE 12vh 14.25vh,
			#EEEEEE 16.5vh 6.75vh,
			#EEEEEE 13.5vh 5.25vh;
	}
}
